[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gorgonzola
	email = 73224869+Gorgxnzola@users.noreply.github.com
